button{
    background-color: rgba(51, 255, 255, 0.5);
    margin: 5px;
    font-size: 1.5em;
    border-radius: 5px;
    border-color: #b8b894;
}

button:hover{
    transform: scale(1.05);
    background-color: rgba(51, 255, 255, 1);
}

.container{
    display: flex;
    justify-content: flex-end;
}